<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].email}); %>
<h1>Account</h1>
<ul>
    <li>Full Name: <%= result[0].first_name %> <%= result[0].last_name%></li>
    <li>Email: <%= result[0].email%></li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>