<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
    <h1>Add New Resume</h1>
    <form action="/resume/insert" method="get">
        Resume Name: <input id="resume_name" name="resume_name" type="text" /> <br/>

        School(s):
        <select id="school_id" name="school_id">
            <% for(var i=0; result.length > i; i++ ) { %>
            <option value="<%= result[i].school_id %>"><%= result[i].school_name + ', gpa: ' + result[i].gpa %></option>
            <% } %>
        </select>   <br/>

        Company(s):
        <select id="company_id" name="company_id">
            <% for(var i=0; result.length > i; i++ ) { %>
            <option value="<%= result[i].company_id %>"><%= result[i].company_name %></option>
            <% } %>
        </select>   <br/>

        Skill(s):
        <select id="skill_id" name="skill_id" multiple="multiple">
            <% for(var i=0; result.length > i; i++ ) { %>
            <option value="<%= result[i].skill_id %>"><%= result[i].skill_name %></option>
            <% } %>
        </select>   <br/>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('#skill_id').multiselect();
            });
        </script>
        <input type="submit" />
    </form>
    <br/>
    <a href="/resume/all"><< back</a>
<%- include("../includes/footer.ejs"); %>