<%- include("../includes/header.ejs", {title:"Resume - " + result[0].resume_name}); %>
<h1>Resume</h1>
<ul>
    <li><b>Resume Name:</b> <%= result[0].resume_name %></li>
    <li><b>Full Name:</b> <%= result[0].first_name + ' ' + result[0].last_name %></li>
    <li><b>Email: </b> <%= result[0].email %></li>
    <li><b>Education:</b></li>
    <ul>
        <% for(var i=0; result.length > i; i++ ) { %>
            <li><b>School: </b><%= result[i].school_name %> </br><b>gpa: </b><%= result[i].gpa %></li>
        <% } %>
    </ul>

    <!-- <li><b>Skill(s):</b> <%= result[0].skill_name %></li> -->
    <li><b>Skill(s):</b>
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><b>name: </b><%= result[i].skill_name %> </br><b>description: </b><%= result[i].description %></li>
            <% } %>
        </ul>
    </li>
    <li><b>Previous Company(s):</b>
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><b>name: </b><%= result[i].company_name %></li>
            <% } %>
        </ul>
    </li>


</ul>

<a href="/resume/all"><< back</a>

<%- include("../includes/footer.ejs"); %>