<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Select User for New Resume</h1>
<form action="/resume/add" method="get">
    User Name: <br/>
    <select id="account_id" name="account_id">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].account_id %>"><%= result[i].first_name + ' ' + result[i].last_name %></option>
        <% } %>
    </select>

    <br />
    <br />
    <input type="submit" />

</form>
<br/>
<a href="/resume/all"><< back</a>
<%- include("../includes/footer.ejs"); %>