<%- include("../includes/header.ejs", {title:"School - " + result[0].school_name}); %>
<h1>Schools</h1>
<ul>
    <li><b>School Name:</b> <%= result[0].school_name %></li>
    <li><b>Address:</b> <%= result[0].street + ', ' + result[0].zip_code %></li>
</ul>

<a href="/school/all"><< back</a>

<%- include("../includes/footer.ejs"); %>